.login {
    width: 100%;
    display: flex;

    .loginContainer {
        flex: 6;


        .top {
            -webkit-box-shadow: 2px, 4px, 10px, 1px rgba(0, 0, 0, 0.47);
            box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
            padding: 20px;
            margin: 40px auto;

            width: 400px;
            height: 400px;

            .formInput {
                display: flex;
                flex-direction: column;
                justify-content: center;

            }
        }
    }
}