.datatable {
    height: 600px;
    padding: 20px;

    .addNew {
        width: 200px;
        padding: 5px;
        border: none;
        background-color: teal;
        color: white;
        font-weight: bold;
        cursor: pointer;
    }
}